<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
      <img class="img-responsive" src="img/about.png" style="display: block; margin: auto; width: 20%; height: auto;" alt="about-pic" />
        <br>
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p> Howdy hey! I am Morgan Boyd, a multi-media artist with a passion for storytelling. Whether that be through film, theater, or paper, you’ll catch me telling whimsically impractical tales with practical mediums.
I graduated from Utah Valley University (a Toomboom Center of Excellence) in 2025 with a Bachelors degree in 2.D. Animation and Game Development. 
          </p>
      </div>
      <div class="col-lg-4">
        <p>  Looking for me? Chances are I’m immersed in one of the various things: Lifting, climbing, Brazilian Jiu Jitsu, slow living and homesteading, 80’s fantasy, puppetry, felting, reading, sketching and painting from life, storyboarding, goofing around with loved ones, chicken herding, desperately trying to keep my garden alive, running a market booth,  experimenting with new mediums… fyewf! I stay busy.    </p>
      </div>
    </div>
  </div>
</section>
