<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
      <img class="img-responsive" src="img/about.png" style="display: block; margin: auto; width: 20%; height: auto;" alt="about-pic" />
        <br>
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p> Howdy! I'm Morgan, a multi-media artist with a passion for storytelling. Whether that be through film, theater, or paper, you'll catch me pouring all my heart and soul into bringing whimsical stories to life. I graduated this Spring with my Bachelors of Science in 2D Animation from a Toonboom COE, Utah Valley University. 
          </p>
      </div>
      <div class="col-lg-4">
        <p>  Currently, I am diving head first into enhancing my storyboarding portfolio, building my business, and creating puppets with natural and reclaimed materials. Otherwise, I'm at the gym- climbing, lifting or doing jiu jitsu. That lovely inspired feeling hits me most when goofing around with family and friends, when tending to the chickens with my love, or when sketching the world around me.   </p>
      </div>
    </div>
  </div>
</section>
